
<div class="thar">

    <img src=".\assets\tharc.webp" alt="thar">
     <img src=".\assets\tharc1.webp" aly="thar">
     <img src=".\assets\tharc2.webp" alt="thar">
     <img src=".\assets\tharc3.webp" aly="thar">
     <img src=".\assets\tharc4.webp" alt="thar">
     <img src=".\assets\tharc5.webp" aly="thar">
     <div class="para">
       <h2>Mahindra Thar Highlights</h2> 
       <p> The first-generation of the Thar was a bare-bones off-roading SUV and far from being an ideal product. The one you see above is the second-generation model, and it’s a vast improvement over the one it replaces. So much so, the Thar is now dubbed as a slightly more luxurious lifestyle product by the critics. On top of that, the aggressive Mahindra Thar price has already caught the attention of many potential mid-size SUV buyers.
        
        Exterior
        
        The 2020 Mahindra Thar new model, in terms of its design, is a huge departure from the erstwhile model. Sure, it carries forward the key design elements from its predecessor like the front grille – which is now smaller – and circular headlamps.
        
        Besides that, the Thar gets a massive design improvement, replete with geometrical bumpers, reprofiled fog lamps, prominent wheel arches, 18-inch alloy wheels, LED taillamps at the back, and a split opening for the tailgate. It continues to be an intimidating SUV, which works hugely in its favour.
        
        Variants
        
        The Mahindra Thar variants are as follows: AX, AX Optional, and LX. The Thar’s equipment levels have massively improved with the second-generation update. The top-spec LX trim gets a 7.0-inch touchscreen with Apple Carplay and Android Auto support, climate control, cruise control, roof-mounted speakers, and more.
        
        Interior
        
        The 2020 Mahindra Thar on-road price might lead some to believe that it’s still a bare-bones recreational vehicle from the inside, but it’s a completely different story. Stepping inside still takes a bit of an effort, but once in, you are greeted by a nice layout for the dashboard with all the essentials at hand. You also get a very commanding view of the outside from the driver’s seat. The seats are all very good, and while getting into the back row requires a bit more effort, the space is good. So, the Thar proves to be a good 4-seater for sure.
        
        Engine Specifications & Performance
        
        For the first time, the Thar comes powered by both a petrol and a diesel engine. The diesel engine is a familiar 2.2-litre unit, which makes 130bhp and 300Nm of torque. Dubbed as the mStallion engine, a 2.0-litre petrol engine is an all-new unit, which is good for 150bhp and 320Nm. Both the engines are mated to either a 6-speed manual or a 6-speed automatic gearbox.
    </p>
</div>
</div>
