
<div class="range">
    <img src=".\assets\range.webp" alt="range">
    <img src=".\assets\range1.jpg" alt="range">
    <img src=".\assets\range2.jpeg" alt="range">
    <p>
        British luxury car manufacturer, Land Rover, has launched the updated Range Rover Velar in the nation with prices starting from Rs 79.87 lakh (ex-showroom, across India). This update has brought a few very significant changes to its engine and infotainment system. So, let us find out what exactly has been upgraded in the new Range Rover Velar.
    </p>
    <h2>Desgin</h2>
    <p>
        The new Range Rover Velar is still a visually striking car from every angle and its design has not been changed exceedingly. However, it now comes with a new set of 20-inch gloss silver alloy wheels. Land Rover offers four paint options with the Velar in the country - Fuji White, Santorini Black, Portofino Blue and Silicon Silver unlike the 24 exterior paint alternatives in its home market.
    </p>
    <img src=".\assets\range3.jpeg" alt="range">
    <p>
        This snazzy Range Rover Velar is available with the sportier R-Dynamic S version and therefore it gets an R-Dynamic exterior package that includes a darker roof, copper finished blades on the front bumper, fender and bonnet. Apart from the special pack, there are full-LED headlamps with signature DRLs, LED tail lamps, pop up door handles and heated ORVMs with auto-dimming function for driver side mirror.
    </p>
    <img  src=".\assets\range4.jpeg"alt="range">
    <h2>Interior</h2>
    <p>
        Land Rover has completely overhauled the infotainment system in the Velar in terms of software and hardware. There is a new Pivi Pro system which is believed to be more efficient and fluid like any flagship smartphone. However, it still features a 10-inch touchscreen. In addition to the Pivi Pro, the cabin also has a 12.3-inch digital instrument cluster and a 10-inch display to control other features in the vehicle. Besides, the Velar has a lavish and sleekly designed interior with a full Ebony grained leather trim.
    </p>
    <img src=".\assets\range5.jpeg" alt="range">
    <h2>Safety and Features</h2>
    <p>
        The stylish SUV has a host of features such as 360-degree surround cameras, wade sensing, terrain response 2 with the dynamic program, all-terrain progress control, adaptive dynamics, air suspension, four-zone temperature control with a PM2.5 filter, a fixed panoramic sunroof, heated rear windows with timer, ISOFIX in the rear, six airbags, a 12-speaker, 400-watt Meridian sound system and so on.
    </p>
    <img src=".\assets\range6.jpeg"  alt="range">
    <h2>Engine and Transmission</h2>
    <p>
        Jaguar Land Rover recently upgraded almost all the engines in the range. Both the petrol and diesel engines now feature a 48-volt mild-hybrid system. There is a 2.0-litre MHEV four-cylinder petrol engine that makes 243bhp at 5,500rpm and 365Nm of torque from 1,300 to 4,500rpm while a next-generation MHEV four-cylinder diesel motor produces 198bhp at 4,250rpm and 430Nm of torque from 1,750 to 2,500rpm. Both engines are mated to an eight-speed automatic transmission with an all-wheel-drive system.
    </p>
</div>